body {
	background-color: beige;
}
.container {
	height: 100vh;
}
.card-container {
	padding: 3vh;
}
.card-img-top {
	height: 75%;
	object-fit: cover;
}
.card-body-1 {
	height: 25%;
}
@keyframes img-shrink {
	0% {
		height: 75%;
	}
	100% {
		height: 0%;
	}
}
@keyframes img-grow {
	0% {
		height: 0%;
	}
	100% {
		height: 75%;
	}
}
/* @keyframes img-shrink {
	0% {
		height: 100%;
	}
	100% {
		height: 75%;
	}
} */

@keyframes body-grow {
	0% {
		height: 25%;
		/* display: block; */
	}
	100% {
		height: 100%;
		/* display: none; */
	}
}
@keyframes body-shrink {
	0% {
		height: 100%;
		/* display: block; */
	}
	100% {
		height: 25%;
		/* display: none; */
	}
}
