body {
	background-color: beige;
}
.card-img-top:hover,
.card-body-1:hover,
.float-button:hover {
	cursor: pointer;
}
.float-button {
	position: fixed;
	z-index: 2;
	right: 2.5vw;
	bottom: 2.5vw;
}
.container {
	display: flex;
	flex-direction: column;
}
.h-100-vh {
	height: 100vh;
}
.card-container {
	padding: 3vh;
}
.card-img-top {
	object-fit: cover;
}
.h-60 {
	height: 60%;
}
.h-40 {
	height: 40%;
}
.h-50 {
	height: 50%;
}
.h-80-vh {
	height: 80vh;
}
.card-body-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#title-pic {
	width: 100%;
	border-radius: 10px;
}
.row {
	width: 100%;
}
#iskola-container-1 .col-12,
#iskola-container-2 .col-12,
#leiras-1-container .col-12,
#leiras-2-container .col-12,
#leiras-3-container .col-12 {
	opacity: 0;
}
.visible {
	transition: 0.5s !important;
	opacity: 1 !important;
}
@keyframes img-shrink {
	0% {
		height: 60%;
	}
	100% {
		height: 0%;
	}
}
@keyframes img-grow {
	0% {
		height: 0%;
	}
	100% {
		height: 60%;
	}
}

@keyframes body-grow {
	0% {
		height: 40%;
	}
	100% {
		height: 100%;
	}
}
@keyframes body-shrink {
	0% {
		height: 100%;
	}
	100% {
		height: 40%;
	}
}
@media only screen and (max-width: 555px) {
	#card-nj,
	#card-sj {
		width: 75vw !important;
	}
	#card-nj h1,
	#card-sj h1 {
		font-size: 1.5rem;
	}

	#card-nj p,
	#card-sj p {
		font-size: 1rem;
	}
}
